body{
  margin-top: 0px;
  margin-bottom: 
  background-color: aliceblue;
}

a, li{
  text-decoration: none;
  list-style: none;
}


.flexnav{
  display: flex;
  flex-direction: column;
}

.topbar{
  display: flex;
  flex-direction: row;
  background-color: blue;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.flex-container1{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  top: 35px;
  z-index: 1; 
}

.left-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  background-color: brown;
}
 
.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  background-color: rgb(216, 226, 26);
}

.flex-container2{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  top: 100px;
  z-index: 9999;
}

.l-section{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  width: 35%;
  justify-content: space-evenly;
  align-items: center;
}

.r-section{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  width: 20%; 
  justify-content: center; 
  align-items: center;
}



.grid-container{
  display: grid;
  grid-template-columns: 400px 1fr 200px;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  right: 20px;
  top: 150px;
}

/*.grid-container{
  display: flex;
  flex-grow: 400px 1 200px;
  position: relative;
  width: 100%;
  
  top: 150px;
}*/


.block1{
  //background-color: blue;
  margin-right: 10px;
  }

  .flex1{
    display: flex;
    flex-direction: column; 
    position: fixed;
    //background-color: blue;
    list-style-type: none;
    width: 25%;
    height: 600px;
    overflow-y: scroll;
  }

  .flex1 input{
    width: 50%;
  }

.block2{
  //background-color: red;
  margin-right: 10px;
  
  }

.flex2{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}


.flex2 button{
  color: blue;
  text-decoration: underline;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}


.rula{
  background-color: black;
  width: 80%;
  height: 150px
}

.rula-2{
  background-color: gray;
  width: 80%;
  height: 150px;
}

.block3{
 // background-color: yellow;
  
}

.flex3{
  display: flex;
  flex-direction: column;
  position: fixed;
  border-left: 1px solid black;
}

.flex3 a{
  text-decoration: none;
  margin-left: 10px;
}


.content{
  display: block;
}

/*.flex2-container2{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  //background-color: blue;
   //margin-top: 120px;
  height: 100px;
}

.foota1{
  background-color: blue;
  width: 20%;
}
.foota2{
  background-color: red;
  width: 20%;
}
.foota3{
  background-color: blue;
  width: 20%;
}
.foota4{
  background-color: red;
  width: 20%;
}
.foota5{
  background-color: blue;
  width: 20%;
}

hr{
  margin-top: 165px;
}


/*@media screen (min-width: 320px) {
  .flex3{
    display: none;
}
}*/




  
